<div class='mt-4'>
    <form method='POST' action=''>
        <div class='mb-3'>
            <label for='search-input' class='form-label'>Nhập từ khoá</label>
            <input
                type='text'
                name='q'
                class='form-control'
                id='search-input'
                placeholder='VD: 1+1='
            />
        </div>

        <button type='submit' class='btn btn-primary'>Tìm kiếm</button>
    </form>
</div>