<div class="container d-flex justify-content-center align-items-center">
	<div class="card">
		<div class="mt-5 text-center">
			<h4 class="mb-0">Tên nhà sản xuất</h4>
			<span class="text-muted d-block mb-2">Địa chỉ</span>
			<button class="btn btn-primary btn-sm follow">Edit</button>
			<div class="d-flex justify-content-between align-items-center mt-4 px-4">
				<div class="stats">
					<h6 class="mb-0">Sản phẩm</h6>
					<span>8,797</span>
				</div>
				<div class="stats">
					<h6 class="mb-0">Đơn hàng thành công</h6>
					<span>142</span>
				</div>
				<div class="stats">
					<h6 class="mb-0">Ranks</h6>
					<span>129</span>
				</div>
			</div>
		</div>
	</div>
</div>