<div class="container justify-content-center align-items-center">
<div class="row">
	{{!-- Column 1 --}}
	<div class="col-4 p-1">
		<div class="card">
			<div class="mt-2 text-center">
				<h4>Tên nhà sản xuất</h4>
				<span class="text-muted d-block mb-2">Địa chỉ</span>
				<div class="justify-content-between align-items-center mt-2 mb-2 px-4">
					<div class="row">
						<div class="col-4">
							<h6 class="mb-0">Sản phẩm</h6>
							<span>8,797</span>
						</div>
						<div class="col-4">
							<h6 class="mb-0">Đơn hàng</h6>
							<span>142</span>
						</div>
						<div class="col-4">
							<h6 class="mb-0">Doanh thu</h6>
							<span>129</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- Column 2 --}}
	<div class="col-4 p-1">
		<div class="card">
			<div class="mt-2 text-center">
				<h4>Tên nhà sản xuất</h4>
				<span class="text-muted d-block mb-2">Địa chỉ</span>
				<div class="justify-content-between align-items-center mt-2 mb-2 px-4">
					<div class="row">
						<div class="col-4">
							<h6 class="mb-0">Sản phẩm</h6>
							<span>8,797</span>
						</div>
						<div class="col-4">
							<h6 class="mb-0">Đơn hàng</h6>
							<span>142</span>
						</div>
						<div class="col-4">
							<h6 class="mb-0">Doanh thu</h6>
							<span>129</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{!-- Column 3 --}}
	<div class="col-4 p-1">
		<div class="card">
			<div class="mt-2 text-center">
				<h4>Tên nhà sản xuất</h4>
				<span class="text-muted d-block mb-2">Địa chỉ</span>
				<div class="justify-content-between align-items-center mt-2 mb-2 px-4">
					<div class="row">
						<div class="col-4">
							<h6 class="mb-0">Sản phẩm</h6>
							<span>8,797</span>
						</div>
						<div class="col-4">
							<h6 class="mb-0">Đơn hàng</h6>
							<span>142</span>
						</div>
						<div class="col-4">
							<h6 class="mb-0">Doanh thu</h6>
							<span>129</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>